:root {
  --light_clr: #edeef3;
  --dark_clr: #252727;
  --accent_clr: #e83f38;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--dark_clr);
  font-family: "brother-1816", sans-serif;
  font-style: normal;
}
main {
  padding: 1rem;
  display: grid;
  place-items: center;
}
img {
  max-width: 100%;
  object-fit: cover;
}
h1,
h2,h3 {
  font-family: "dazzle-unicase", sans-serif;
  
}
h1 {
  font-size: clamp(1.5rem, 6vw, 5rem);
  font-weight: 900;
}
h2 {
  font-size: clamp(1.375rem, 4vw, 2.5rem);
  font-weight: 600;
}
h3 {
  font-size: clamp(1.1rem, 3vw, 2rem);
  text-transform: uppercase;
  color: var(--accent_clr);
  font-weight: 300;
}
h4 {
  font-size: clamp(1.1rem, 2.5vw, 1.5rem);
  text-transform: uppercase;
  font-weight: 600;
}
h5 {
  font-size: clamp(1rem, 2vw, 1.1rem);
  color: var(--accent_clr);
  text-transform: uppercase;
  font-weight: 500;
}
p {
  max-width: 65ch;
  padding:1rem ;
  line-height: 1.5;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 1.125rem;
  font-weight: 400;
}
p.bold {
  font-size: 1.25rem;
  font-weight: 600;
}
